In [1]:
import pandas as pd
import os

In [2]:
data_raw_path = os.path.join("..", "data", "raw", "survey lung cancer.csv")
df = pd.read_csv(data_raw_path)

df.head(10)

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
5,F,75,1,2,1,1,2,2,2,2,1,2,2,1,1,YES
6,M,52,2,1,1,1,1,2,1,2,2,2,2,1,2,YES
7,F,51,2,2,2,2,1,2,2,1,1,1,2,2,1,YES
8,F,68,2,1,2,1,1,2,1,1,1,1,1,1,1,NO
9,M,53,2,2,2,2,2,1,2,1,2,1,1,2,2,YES

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENDER                 309 non-null    object
 1   AGE                    309 non-null    int64
 2   SMOKING                309 non-null    int64
 3   YELLOW_FINGERS         309 non-null    int64
 4   ANXIETY                309 non-null    int64
 5   PEER_PRESSURE          309 non-null    int64
 6   CHRONIC DISEASE        309 non-null    int64
 7   FATIGUE                309 non-null    int64
 8   ALLERGY                309 non-null    int64
 9   WHEEZING               309 non-null    int64
 10  ALCOHOL CONSUMING      309 non-null    int64
 11  COUGHING               309 non-null    int64
 12  SHORTNESS OF BREATH    309 non-null    int64
 13  SWALLOWING DIFFICULTY  309 non-null    int64
 14  CHEST PAIN             309 non-null    int64
 15  LUNG_CANCER            309 non-null    object
dtypes: int64(14), object(2)
memory usage: 38.8+ KB

In [4]:
print(f"Number of duplicate rows: {df.duplicated().sum()}")

Number of duplicate rows: 33

In [5]:
df = df.drop_duplicates()  # Remove duplicate rows
print(f"Number of duplicate rows: {df.duplicated().sum()}")

Number of duplicate rows: 0

In [6]:
df.rename(mapper={"GENDER": "IS_MALE"}, axis=1, inplace=True)  # rename GENDER to IS_MALE
df.columns = df.columns.str.strip()  # strip the blanks at the end and at the start
df.columns = df.columns.str.replace(" ", "_")  # replace the blanks with "_"
df.head(5)

,IS_MALE,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 276 entries, 0 to 283
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   IS_MALE                276 non-null    object
 1   AGE                    276 non-null    int64
 2   SMOKING                276 non-null    int64
 3   YELLOW_FINGERS         276 non-null    int64
 4   ANXIETY                276 non-null    int64
 5   PEER_PRESSURE          276 non-null    int64
 6   CHRONIC_DISEASE        276 non-null    int64
 7   FATIGUE                276 non-null    int64
 8   ALLERGY                276 non-null    int64
 9   WHEEZING               276 non-null    int64
 10  ALCOHOL_CONSUMING      276 non-null    int64
 11  COUGHING               276 non-null    int64
 12  SHORTNESS_OF_BREATH    276 non-null    int64
 13  SWALLOWING_DIFFICULTY  276 non-null    int64
 14  CHEST_PAIN             276 non-null    int64
 15  LUNG_CANCER            276 non-null    object
dtypes: int64(14), object(2)
memory usage: 36.7+ KB

In [8]:
def change_dtype(val):
  val = str(val).lower()
  if val in ['m', 'yes', '2']:
    return 1
  elif val in ['f', 'no', '1']:
    return 0
  else:
    return val

In [9]:
df.rename(mapper={"GENDER": "IS_MALE"}, axis=1, inplace=True)  # Rename GENDER to IS_MALE\

df["IS_MALE"] = df["IS_MALE"].map(change_dtype)
df["SMOKING"] = df["SMOKING"].map(change_dtype)
df["YELLOW_FINGERS"] = df["YELLOW_FINGERS"].map(change_dtype)
df["ANXIETY"] = df["ANXIETY"].map(change_dtype)
df["PEER_PRESSURE"] = df["PEER_PRESSURE"].map(change_dtype)
df["CHRONIC_DISEASE"] = df["CHRONIC_DISEASE"].map(change_dtype)
df["FATIGUE"] = df["FATIGUE"].map(change_dtype)
df["ALLERGY"] = df["ALLERGY"].map(change_dtype)
df["WHEEZING"] = df["WHEEZING"].map(change_dtype)
df["ALCOHOL_CONSUMING"] = df["ALCOHOL_CONSUMING"].map(change_dtype)
df["COUGHING"] = df["COUGHING"].map(change_dtype)
df["SHORTNESS_OF_BREATH"] = df["SHORTNESS_OF_BREATH"].map(change_dtype)
df["SWALLOWING_DIFFICULTY"] = df["SWALLOWING_DIFFICULTY"].map(change_dtype)
df["CHEST_PAIN"] = df["CHEST_PAIN"].map(change_dtype)
df["LUNG_CANCER"] = df["LUNG_CANCER"].map(change_dtype)

df.head(5)

,IS_MALE,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,1,69,0,1,1,0,0,1,0,1,1,1,1,1,1,1
1,1,74,1,0,0,0,1,1,1,0,0,0,1,1,1,1
2,0,59,0,0,0,1,0,1,0,1,0,1,1,0,1,0
3,1,63,1,1,1,0,0,0,0,0,1,0,0,1,1,0
4,0,63,0,1,0,0,0,0,0,1,0,1,1,0,0,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 276 entries, 0 to 283
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   IS_MALE                276 non-null    int64
 1   AGE                    276 non-null    int64
 2   SMOKING                276 non-null    int64
 3   YELLOW_FINGERS         276 non-null    int64
 4   ANXIETY                276 non-null    int64
 5   PEER_PRESSURE          276 non-null    int64
 6   CHRONIC_DISEASE        276 non-null    int64
 7   FATIGUE                276 non-null    int64
 8   ALLERGY                276 non-null    int64
 9   WHEEZING               276 non-null    int64
 10  ALCOHOL_CONSUMING      276 non-null    int64
 11  COUGHING               276 non-null    int64
 12  SHORTNESS_OF_BREATH    276 non-null    int64
 13  SWALLOWING_DIFFICULTY  276 non-null    int64
 14  CHEST_PAIN             276 non-null    int64
 15  LUNG_CANCER            276 non-null    int64
dtypes: int64(16)
memory usage: 36.7 KB

In [11]:
data_new_path = os.path.join('..', 'data', 'processed', 'dataset.csv')
df.to_csv(data_new_path, index=False)