In [1]:
import pandas as pd
import os

In [2]:
data_raw_path = os.path.join('..', 'data', 'raw', 'dataseter.csv')
df = pd.read_csv(data_raw_path)

df.head(10)

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,M,65,Yes,Yes,Yes,No,No,Yes,No,No,No,No,No,No,Yes,NO
1,F,55,Yes,No,No,Yes,Yes,No,No,No,Yes,Yes,Yes,No,No,NO
2,F,78,No,No,Yes,Yes,Yes,No,Yes,No,Yes,Yes,No,Yes,Yes,YES
3,M,60,No,Yes,Yes,Yes,No,Yes,No,Yes,Yes,No,Yes,No,No,YES
4,F,80,Yes,Yes,No,Yes,Yes,No,Yes,No,Yes,Yes,Yes,Yes,No,NO
5,F,58,Yes,Yes,Yes,No,No,No,No,Yes,No,No,Yes,Yes,No,YES
6,F,70,Yes,Yes,Yes,No,No,Yes,No,No,No,No,No,No,Yes,YES
7,F,74,No,No,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,No,Yes,NO
8,M,77,Yes,No,Yes,No,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,No,NO
9,F,67,No,No,No,No,Yes,No,No,Yes,No,Yes,No,Yes,Yes,NO

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENDER                 3000 non-null   object
 1   AGE                    3000 non-null   int64
 2   SMOKING                3000 non-null   object
 3   YELLOW_FINGERS         3000 non-null   object
 4   ANXIETY                3000 non-null   object
 5   PEER_PRESSURE          3000 non-null   object
 6   CHRONIC_DISEASE        3000 non-null   object
 7   FATIGUE                3000 non-null   object
 8   ALLERGY                3000 non-null   object
 9   WHEEZING               3000 non-null   object
 10  ALCOHOL_CONSUMING      3000 non-null   object
 11  COUGHING               3000 non-null   object
 12  SHORTNESS_OF_BREATH    3000 non-null   object
 13  SWALLOWING_DIFFICULTY  3000 non-null   object
 14  CHEST_PAIN             3000 non-null   object
 15  LUNG_CANCER            3000 non-null   object
dtypes: int64(1), object(15)
memory usage: 375.1+ KB

In [4]:
print(f"Number of duplicate rows: {df.duplicated().sum()}")

Number of duplicate rows: 2

In [5]:
df = df.drop_duplicates()  # Remove duplicate rows
df.rename(mapper={"GENDER": "IS_MALE"}, axis=1, inplace=True)  # Rename GENDER to IS_MALE
df["AGE"] = df["AGE"].astype("int16")  # Convert int64 to int 16
df.head(5)

,IS_MALE,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,M,65,Yes,Yes,Yes,No,No,Yes,No,No,No,No,No,No,Yes,NO
1,F,55,Yes,No,No,Yes,Yes,No,No,No,Yes,Yes,Yes,No,No,NO
2,F,78,No,No,Yes,Yes,Yes,No,Yes,No,Yes,Yes,No,Yes,Yes,YES
3,M,60,No,Yes,Yes,Yes,No,Yes,No,Yes,Yes,No,Yes,No,No,YES
4,F,80,Yes,Yes,No,Yes,Yes,No,Yes,No,Yes,Yes,Yes,Yes,No,NO

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2998 entries, 0 to 2999
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   IS_MALE                2998 non-null   object
 1   AGE                    2998 non-null   int16
 2   SMOKING                2998 non-null   object
 3   YELLOW_FINGERS         2998 non-null   object
 4   ANXIETY                2998 non-null   object
 5   PEER_PRESSURE          2998 non-null   object
 6   CHRONIC_DISEASE        2998 non-null   object
 7   FATIGUE                2998 non-null   object
 8   ALLERGY                2998 non-null   object
 9   WHEEZING               2998 non-null   object
 10  ALCOHOL_CONSUMING      2998 non-null   object
 11  COUGHING               2998 non-null   object
 12  SHORTNESS_OF_BREATH    2998 non-null   object
 13  SWALLOWING_DIFFICULTY  2998 non-null   object
 14  CHEST_PAIN             2998 non-null   object
 15  LUNG_CANCER            2998 non-null   object
dtypes: int16(1), object(15)
memory usage: 380.6+ KB

In [7]:
def change_dtype(val):
  val = str(val).lower()
  if val in ['m', 'yes']:
    return True
  elif val in ['f', 'no']:
    return False
  else:
    return val

In [8]:
df["IS_MALE"] = df["IS_MALE"].map(change_dtype)
df["SMOKING"] = df["SMOKING"].map(change_dtype)
df["YELLOW_FINGERS"] = df["YELLOW_FINGERS"].map(change_dtype)
df["ANXIETY"] = df["ANXIETY"].map(change_dtype)
df["PEER_PRESSURE"] = df["PEER_PRESSURE"].map(change_dtype)
df["CHRONIC_DISEASE"] = df["CHRONIC_DISEASE"].map(change_dtype)
df["FATIGUE"] = df["FATIGUE"].map(change_dtype)
df["ALLERGY"] = df["ALLERGY"].map(change_dtype)
df["WHEEZING"] = df["WHEEZING"].map(change_dtype)
df["ALCOHOL_CONSUMING"] = df["ALCOHOL_CONSUMING"].map(change_dtype)
df["COUGHING"] = df["COUGHING"].map(change_dtype)
df["SHORTNESS_OF_BREATH"] = df["SHORTNESS_OF_BREATH"].map(change_dtype)
df["SWALLOWING_DIFFICULTY"] = df["SWALLOWING_DIFFICULTY"].map(change_dtype)
df["CHEST_PAIN"] = df["CHEST_PAIN"].map(change_dtype)
df["LUNG_CANCER"] = df["LUNG_CANCER"].map(change_dtype)
df.head(5)

,IS_MALE,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,True,65,True,True,True,False,False,True,False,False,False,False,False,False,True,False
1,False,55,True,False,False,True,True,False,False,False,True,True,True,False,False,False
2,False,78,False,False,True,True,True,False,True,False,True,True,False,True,True,True
3,True,60,False,True,True,True,False,True,False,True,True,False,True,False,False,True
4,False,80,True,True,False,True,True,False,True,False,True,True,True,True,False,False

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2998 entries, 0 to 2999
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   IS_MALE                2998 non-null   bool
 1   AGE                    2998 non-null   int16
 2   SMOKING                2998 non-null   bool
 3   YELLOW_FINGERS         2998 non-null   bool
 4   ANXIETY                2998 non-null   bool
 5   PEER_PRESSURE          2998 non-null   bool
 6   CHRONIC_DISEASE        2998 non-null   bool
 7   FATIGUE                2998 non-null   bool
 8   ALLERGY                2998 non-null   bool
 9   WHEEZING               2998 non-null   bool
 10  ALCOHOL_CONSUMING      2998 non-null   bool
 11  COUGHING               2998 non-null   bool
 12  SHORTNESS_OF_BREATH    2998 non-null   bool
 13  SWALLOWING_DIFFICULTY  2998 non-null   bool
 14  CHEST_PAIN             2998 non-null   bool
 15  LUNG_CANCER            2998 non-null   bool
dtypes: bool(15), int16(1)
memory usage: 73.2 KB

In [10]:
data_new_path = os.path.join('..', 'data', 'processed', 'dataset.csv')
df.to_csv(data_new_path, index=False)